@font-family-sans-serif: 'Open Sans';

@color-primary: #9b2d23;

header.logo {
  font-size: @font-size-h3;
  color: white;
  background: @color-primary;
  padding: 0.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

/*.plates, .gate, .camera {
  padding: 0;
}*/

section.plates {
  .btn {
    display: block;
  }

  .plate {
    .title {
      margin: 0.25em 0 0.1em 0;
    }
  }
}

.fa.fa-margin-left {
  margin-left: 0.25em;
}